.about-section {
  width: 100%;
  padding: 80px 60px;
  background: #fff;
  box-sizing: border-box;
}
.about-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 20px;
  color: black;
}

.about-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 40px;
}


.left-text {
  width: 40%;
}

.right-text {
  width: 55%;
  font-size: 16px;
  color: #444;
  line-height: 1.7;
}

.right-text p {
  margin-bottom: 12px;
}

.left-text h2 {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.3;
  color: black;
}

.about-image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
  filter: blur(2px);
  opacity: 0.85;
}

.howworks {
  text-align: center;
  margin-top: 70px;
}

.howworks h2 {
  font-size: 30px;
  font-weight: 700;
}

.subtitle {
  color: #777;
  font-size: 15px;
  margin-top: 8px;
}

.work-cards {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.work-card {
  background: #fff;
  border-radius: 14px;
  padding: 30px;
  width: 230px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.05);
}

.work-card .icon {
  font-size: 30px;
}

.work-card h3 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}

.work-card p {
  margin-top: 8px;
  color: #666;
  font-size: 14px;
}
