.footer {
  background: #000;
  color: white;
  padding: 50px 100px 20px;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* Left, Middle, Right Sections */
.footer-section {
  width: 30%;
}

.footer-section h3 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #1bb68a;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #1bb68a;
}

.footer-section p {
  color: #ccc;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
  color: #ccc;
  cursor: pointer;
  transition: 0.3s;
}

.footer-section ul li:hover {
  color: #1bb68a;
}

/* Bottom Bar */
.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 15px;
  color: #aaa;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-section {
    width: 100%;
  }
}
