.hero {
  height: 100vh;            
  width: 100%;              
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 300px;       
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;

  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;

  filter: blur(8px);          
  transform: scale(1.1);     
  z-index: -2;
}


.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: -1;
}


.hero h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero p {
  color: #d7d7d7;
  margin-bottom: 40px;
}

/* Search Box */
.search-box {
  background: white;
  padding: 25px;
  border-radius: 14px;
  width: 65%;
  margin: auto;
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-box input,
.search-box select {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
}

.search-btn {
  background: #19b291;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

/* Stats section */
.stats {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 28px;
  color: #19b291;
  font-weight: bold;
}

.label {
  color: #d7d7d7;
}
