.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 3px 30px;
  background: rgba(0, 0, 0, 0.45);
  /* backdrop-filter: blur(10px); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #1BB68A;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links li {
  cursor: pointer;
  color: #d4d4d4;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #fff;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.login-btn {
  background: transparent;
  border: none;
  color: #e0e0e0;
  cursor: pointer;
  font-size: 15px;
}

.register-btn {
  background: #19b291;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}
