* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0d0d0d;
  color: white;
}
html, body {
  overflow-x: hidden;
  width: 100%;
}
